In [ ]:
####################    DECEMBER 04 , 2024   #######################
####################################################################

In [ ]:
#Loading a List of Tuples into a pandas DataFrame
import pandas as pd
data = [ ('Nik',34, '2022-12-12'),
         ('Katie',33, '2022-12-01'),
         ('Evan',34, '2022-02-02'),
         ('Kyra',34, '2022-04-14'),]
df = pd.DataFrame(data)
print(df)

       0   1           2
0    Nik  34  2022-12-12
1  Katie  33  2022-12-01
2   Evan  34  2022-02-02
3   Kyra  34  2022-04-14

In [2]:
#Adding meaningful columns to the DataFrame 
#by using the columns= parameter in the constructor

import pandas as pd
data = [ ('Nik',34, '2022-12-12'),
         ('Katie',33, '2022-12-01'),
         ('Evan',34, '2022-02-02'),
         ('Kyra',34, '2022-04-14')]
df = pd.DataFrame(data,columns=['Name','Age','Date Joined'])
print(df)

    Name  Age Date Joined
0    Nik   34  2022-12-12
1  Katie   33  2022-12-01
2   Evan   34  2022-02-02
3   Kyra   34  2022-04-14

In [8]:
#Loading a List of Dictionaries into a pandas DataFrame

import pandas as pd
data = [ {'Name':'Nik','Age':34, 'Date Joined':'2022-12-12'},
         {'Name':'Katie','Age':33, 'Date Joined':'2022-12-01'},
         {'Name':'Evan','Age':35, 'Date Joined':'2022-02-02'},
         {'Name':'Kyra','Age':34, 'Date Joined':'2022-04-14'}]
df = pd.DataFrame(data)
print(df)

    Name  Age Date Joined
0    Nik   34  2022-12-12
1  Katie   33  2022-12-01
2   Evan   35  2022-02-02
3   Kyra   34  2022-04-14

In [9]:
#Loading a CSV File into a Pandas DataFrame
import pandas as pd
df1=pd.read_csv('https://raw.githubusercontent.com/datagy/data/main/data.csv')
print(df1)

           Date Region                 Type  Units   Sales
0    2020-07-11   East  Children's Clothing   18.0   306.0
1    2020-09-23  North  Children's Clothing   14.0   448.0
2    2020-04-02  South     Women's Clothing   17.0   425.0
3    2020-02-28   East  Children's Clothing   26.0   832.0
4    2020-03-19   West     Women's Clothing    3.0    33.0
..          ...    ...                  ...    ...     ...
995  2020-02-11   East  Children's Clothing   35.0   735.0
996  2020-12-25  North       Men's Clothing    NaN  1155.0
997  2020-08-31  South       Men's Clothing   13.0   208.0
998  2020-08-23  South     Women's Clothing   17.0   493.0
999  2020-08-17  North     Women's Clothing   25.0   300.0

[1000 rows x 5 columns]

In [14]:
import pandas as pd
df2=pd.read_csv('incomes.csv')
print(df2)

      first_name          last_name   age            city  \
0          Alysa         Pentercost  60.0         Vithkuq
1        Shelden    Sainsbury-Brown  70.0          Satuba
2         Trevar  Thornton-Dewhirst  28.0       Axio√∫poli
3       Cchaddie               Coye  49.0          Shaoha
4    Annecorinne              Irnys  63.0        Paris 07
..           ...                ...   ...             ...
995       Talbot         Stonbridge  57.0  Porto Ferreira
996        Nicol             Tonner  48.0        Waingapu
997       Shalna          Grishakov  56.0     Johor Bahru
998     Fredrika            Argrave  53.0           Tigre
999         Jedd              Tanti   NaN          Chanhe

                       career     income
0                     Support  102081.24
1                       Legal   67953.88
2    Research and Development   73236.43
3                       Legal   77842.96
4                     Support   84368.50
..                        ...        ...
995                Accounting   73681.14
996      Business Development   68850.01
997      Business Development   66733.33
998  Research and Development   74288.42
999                     Sales   93584.00

[1000 rows x 6 columns]

In [18]:
#Print first n rows & last n rows using .head(n) & tail(n)
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/datagy/data/main/data.csv')
print('Reading first 5 rows of data')
print(df.head(5))

print('\n\nReading last 3 rows of data')
print(df.tail(3))

Reading first 5 rows of data
         Date Region                 Type  Units  Sales
0  2020-07-11   East  Children's Clothing   18.0  306.0
1  2020-09-23  North  Children's Clothing   14.0  448.0
2  2020-04-02  South     Women's Clothing   17.0  425.0
3  2020-02-28   East  Children's Clothing   26.0  832.0
4  2020-03-19   West     Women's Clothing    3.0   33.0


Reading last 3 rows of data
           Date Region              Type  Units  Sales
997  2020-08-31  South    Men's Clothing   13.0  208.0
998  2020-08-23  South  Women's Clothing   17.0  493.0
999  2020-08-17  North  Women's Clothing   25.0  300.0

In [19]:
# .describe() prints summary statistics of all numeric columns
#such as count,mean,standard deviation,range & quartiles

import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/datagy/data/main/data.csv')

df.describe()

            Units        Sales
count  911.000000  1000.000000
mean    19.638858   427.254000
std      9.471309   253.441362
min      3.000000    33.000000
25%     12.000000   224.000000
50%     20.000000   380.000000
75%     28.000000   575.000000
max     35.000000  1155.000000

In [ ]:
####################    DECEMBER 06 , 2024   #######################
####################################################################

In [7]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/refs/heads/master/diabetes.csv')
#take raw link from github
print(df,'\n\n\n')
df.describe()

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [13]:
#modifying quartiles to 30%.50%,70%

df.describe(percentiles=[0.3,0.5,0.7])

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
30%,1.000000,102.000000,64.000000,8.200000,0.000000,28.200000,0.259000,25.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
70%,5.000000,134.000000,78.000000,31.000000,106.000000,35.490000,0.563700,38.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [15]:
# describe() on a specific column gives no. of unique elememts , mode & frequency of mode
print("\nDescribing Glucose\n")
df['Glucose'].describe()

Describing Glucose

count    768.000000
mean     120.894531
std       31.972618
min        0.000000
25%       99.000000
50%      117.000000
75%      140.250000
max      199.000000
Name: Glucose, dtype: float64

In [28]:
# .info()  show_counts gives non-null count , verbose gives tables

df.info(show_counts=True, memory_usage=True , verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [29]:
# .shape() tells no. of rows and columns

print(df.shape) # dimension of data
print(df.shape[0]) # No. of rows
print(df.shape[1]) # No. of columns

(768, 9)
768
9

In [33]:
# .columns() returns column names in index object form

print(df.columns)
list(df.columns)

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age',
 'Outcome']

In [35]:
#Accessing DataFrame's Columns

import pandas as pd

marks = pd.DataFrame({'Wally':[87 , 89 , 93],
                      'Eva':  [95 , 99 , 87],
                      'Sam':  [88 , 94 , 85]},
                      index= ['Physics','Chemistry','Mathematics'])
print('All marks:')
print(marks)

print('\nEva\'s marks:')
print(marks['Eva'])

print('\nWally\'s marks:')
print(marks.Wally)

All marks:
             Wally  Eva  Sam
Physics         87   95   88
Chemistry       89   99   94
Mathematics     93   87   85

Eva's marks:
Physics        95
Chemistry      99
Mathematics    87
Name: Eva, dtype: int64

Wally's marks:
Physics        87
Chemistry      89
Mathematics    93
Name: Wally, dtype: int64

In [39]:
# Selecting Rows via the loc and iloc Attributes
print('Selecting Physics marks using loc')
print(marks.loc['Physics'])
print('\nSelecting Chemistry marks using iloc')
print(marks.iloc[1])

Selecting Physics marks using loc
Wally    87
Eva      95
Sam      88
Name: Physics, dtype: int64

Selecting Chemistry marks using iloc
Wally    89
Eva      99
Sam      94
Name: Chemistry, dtype: int64

In [53]:
#Selecting Rows via Slices and Lists 
#with the loc and iloc Attributes

print(marks)
print(marks['Physics':'Chemistry'])
print(marks[1:])
# ll=[0,2]
#Only those indexes passed within list will be displayed
print(marks.iloc[[0,2]])
print(marks.loc[['Mathematics','Physics']])

             Wally  Eva  Sam
Physics         87   95   88
Chemistry       89   99   94
Mathematics     93   87   85
           Wally  Eva  Sam
Physics       87   95   88
Chemistry     89   99   94
             Wally  Eva  Sam
Chemistry       89   99   94
Mathematics     93   87   85
             Wally  Eva  Sam
Physics         87   95   88
Mathematics     93   87   85
             Wally  Eva  Sam
Mathematics     93   87   85
Physics         87   95   88

In [54]:
import pandas as pd
marks=pd.DataFrame({'Wally':  [87 , 89 , 93, 87, 92],
                      'Eva':  [95 , 99 , 87, 88, 84],
                      'Sam':  [88 , 94 , 85, 89, 95],
                      'Katie':[87 , 92 , 95, 84, 85],
                      'Bob':  [83 , 93 , 86, 83, 87]},
                      index= ['Test1','Test2','Test3','Test4','Test5'])
print('All marks:')
print(marks)

All marks:
       Wally  Eva  Sam  Katie  Bob
Test1     87   95   88     87   83
Test2     89   99   94     92   93
Test3     93   87   85     95   86
Test4     87   88   89     84   83
Test5     92   84   95     85   87